<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="myConStr" connectionString="Data Source=localhost; PORT=3306; Database=dotnetdb; User Id=root;Password=@Singh1289" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>